@font-face { font-family: '양진체'; src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff'); font-weight: normal; font-style: normal; }
html {
  font-family: "양진체", cursive;
}
body{
  margin:0;
}

h1 a{
  color: white;
}
a{

  color: rgb(30,30,30);
  text-decoration: none;
}
li{
  margin-left: 15px;
  padding-bottom:70px;
}
h2{
  font-size:70px;
  text-align: center;
  padding-bottom: 30px;
}

img{
  text-align: center;
}

h3{
  margin-left: 15px;
  font-size:50px;
  padding-bottom:40px;
}


h1{

  font-size:80px;
  background: rgb(40,40,40);
  margin: 0;
  padding: 60px;
  border-bottom: 3px solid;
  text-align: center;
}


ul{
  font-size: 60px;
}
