@font-face { font-family: '양진체'; src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff'); font-weight: normal; font-style: normal; }
html {
  font-family: "양진체", cursive;
}
body{
  margin:0;
}
h1 a{
  color: white;
}

h2{
  text-align: center;
  font-size: 90px;
}

a{

  color: rgb(30,30,30);
  text-decoration: none;
}
h1{

  font-size:80px;
  background: rgb(40,40,40);
  margin: 0;
  padding: 60px;
  text-align: center;
}



ul{
  font-size: 70px;
}


li{

  margin-left:70px;
  padding-bottom: 60px;
}
